

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 0.5rem 5rem;
   /* padding: 0.5rem 0rem;*/
}

main{
    margin-bottom: 5rem;
}

.card{
    border: none;
}

.stars svg  {
    color: orange;
}


.products .btn{
    background-color: #f87171;
    outline: 0;
    border: 0;
}

.products .btn:hover{
    background-color: #f87171;
    
}




 i{
     
        font-size: 2rem;
        cursor: pointer;
}
   
main a{
    margin-right: 1.5rem;
}

main .container{
    margin-bottom: 5rem;
}

.card i:hover{
    color: #f87171;
}